@use "./variables/index" as *;

* {
  box-sizing: border-box;
}

#espeedComponent {
  background-color: #000;
  color: #f7f7f7;
  padding: rem(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: rem(20px);
  a {
    font-weight: bold;
    border-bottom: solid rem(2px) #f7f7f7;
  }
  & h2 {
    font-size: $font-32;
    text-transform: capitalize;
  }
  ul {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    gap: rem(25px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $ghost;
  color: $darker;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  all: unset;
  list-style-type: none;
}

p {
  margin: 0;
  letter-spacing: rem(0.2px);
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: $font-32;
}

h2 {
  font-size: $font-24;
}

h3 {
  font-size: $font-18;
}

h4 {
  font-size: $font-16;
}

h5 {
  font-size: $font-14;
}

h6 {
  font-size: $font-12;
}
